<section class="jumbotron text-center">
<% if user_signed_in? %>
    <div class="container">
        <h1 class="jumbotron-heading">Admin buttons dashboard here</h1>
    </div>
<% else %>
        <div class="container">
        <h1 class="jumbotron-heading">Buyer buttons dashboard here</h1>
    </div>
<% end %>
</section>
<div class="container">
    <div class="row">
        <div class="col-12 col-sm-3">
            <div class="card bg-light mb-3">
                <div class="card-header bg-primary text-white text-uppercase"><i class="fa fa-list"></i> Categories</div>
                <ul class="list-group category_block">
                 <% Category.all.each do |category| %>
                <button class="list-group-item list-group-item-action">
                <%= link_to category.name, products_path(categories: category.name) %>
                </button>
                <% end %>
                </ul>
            </div>
            <div class="card bg-light mb-3">
                <div class="card-header bg-success text-white text-uppercase">Last product</div>
                <div class="card-body">
                    <p>Will find a way to add it later.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <%= yield %>
            </div>
        </div>

    </div>
</div>
